h1 {
	color:yellow;
}
#osas{
	 background-image: url('img/fon.png');
	 margin: 0;
     padding: 0;
     width: 100%;
	 height: 100%;
	 position: absolute;
	 z-index: -1;
	 background-size: cover;
}
body{
	margin-top: 0px;
	margin: 0px;
	padding: 0px;
}
html{
margin:0px;
border:0px;
padding:0px;
	
}
#ass{
	width: 100%;
	background-image: url('img/gg.jpg');
	height: 150px;
	background-size: cover;
	
}
#asss{
width: 250px;
height: 60px;
margin-top:40px;
margin-left:50px;
}
#boys{
	width:350px;
	height:700px;
}
#bois{
	width:500px;
	height:700px;
}
